<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1" parallel="instances" thread-count="2">
	<test verbose="2" preserve-order="true" name="test1">
		<groups>
			<run>
				<include name="com.newtouch.yida.testBaidu" /> 
			</run>
		</groups>
	</test>
</suite>